.register-form input {
  display: block;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
}

.register-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.register-form button {
  padding: 10px;
  font-size: 20px;
}
