.card {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  flex-basis: 25%;
  margin-bottom: 50px;
}

.card__img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.card__title {
  text-align: center;
}

.card__text {
}
