html {
    height: 100%;
  }
  body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0,
      radial-gradient(circle closest-side, #ffffff 53%, rgba(255, 255, 255, 0) 0)
        0 0,
      radial-gradient(circle closest-side, #ffffff 50%, rgba(255, 255, 255, 0) 0)
        55px 0 #48b;
    background-size: 110px 200px;
    background-repeat: repeat-x;
  }
  
  .Container {
    color: white;
    cursor: pointer;
    padding: 0.25em 1em;
    border-radius: 3px;
    width: 100%;
    margin: 0;
    height: 100%;
    text-align: center;
  }
  
  .Count {
    display: inline-block;
    text-align: center;
    font-size: 150px;
    padding: 30px 0;
    border: 0;
    background: transparent;
    color: #fff;
  }
  
  .Container button {
    display: inline-block;
    text-align: center;
    border: 1px solid transparent;
    font-size: 30px;
    line-height: 1.5;
    background-color: #fbfbfb5e;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    margin: 0 10px;
    width: 80px;
    height: 80px;
    outline: none;
    transition: transform 0.2s;
  }
  .Container button:hover {
    box-shadow: 0px 0px 4px 6px #ffffff0f;
    transform: scale(1.1, 1.1);
    transition: transform 0.3s;
    background-color: rgba(251, 251, 251, 0.5);
  }
  