<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="card-container">
      <!-- cards header start -->
      <div class="card-container__header">
        <small class="products-found">
          <span>16 Product(s) found</span>
        </small>
        <div class="sort">
          Order by
          <select>
            <option value="">Select</option>
            <option value="low">Lowest to highest</option>
            <option value="high">Highest to lowest</option>
          </select>
        </div>
      </div>
      <!-- cards header end  -->
      <!-- card start  -->
      <div class="card-item">
        <div class="card-stopper">Free shipping</div>
        <div class="card-item__thumb">
          <img
            src="https://i.ibb.co/YfKsBj0/8552515751438644-1.jpg"
            alt="Cat Tee Black T-Shirt"
          />
        </div>
        <p class="card-item__title">Cat Tee Black T-Shirt</p>
        <div class="card-item__price">
          <div class="val">
            $ 10.90
          </div>
        </div>
        <div class="card-item__buy-btn">Add to cart</div>
      </div>
      <!-- card end  -->
    </div>
  </body>
</html>
