<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./index.css" />
    <title>Document</title>
  </head>

  <body>
    <div class="filters">
      <h4 class="title">Sizes:</h4>
      <!-- Size start -->
      <div class="available-size">
        <label>
          <input type="checkbox" value="XS" />
          <span class="checkmark">
            XS
          </span></label
        >
      </div>
      <!-- size end -->
    </div>
  </body>
</html>
